* {
    margin: 0;
    padding: 0;
}

body {

    height: 100vh;
}

.cursor_ {
    pointer-events: none;
    display: none;
    position: fixed;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #412e87;
    animation: cursor_ani 1s infinite;
}

.cursor_::after {
    content: '';
    position: absolute;
    background-color: #2e873d;
    transform: translate(-20%, -20%);
    opacity: .7;
    height: 35px;
    width: 35px;
    border-radius: 50%;

}


@keyframes cursor_ani {
    to {
        filter: hue-rotate(0deg);
    }

    from {
        filter: hue-rotate(360deg);
    }
}